<h1 class="center">Pokemon list</h1>
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonsList" class="col l4 m6 s12">
            <div class="card horizontal" appBorderCard="#10A510" (click)="goToPokemon(pokemon)">
                <div class="card-image left">
                    <img [src]="pokemon.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p> {{ pokemon.name }} </p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                            {{ type }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>